@media (min-width: 769px) {
  .editor-v2-canvas-frame {
    width: 800px !important;
    height: 450px !important;
    min-width: 800px !important;
    min-height: 450px !important;
    max-width: 800px !important;
    max-height: 450px !important;

    flex: 0 0 auto !important;
    align-self: center !important;
  }
}
@media (min-width: 769px) {
  .editor-v2-canvas-frame { outline: 10px solid #ff00ff !important; }
}
